@model IEnumerable<Student>
@{
    ViewData["Title"] = "ClassDetail";
}

<h1>ClassDetail</h1>

@foreach (var student in Model)
{
<a asp-action="StudentDetail" asp-controller="Manager" asp-route-id="@student.Id"> @student.FirstName @student.LastName</a>
    
}
