@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a asp-action="StudentDetail" asp-controller="Manager"> Student Detail : teacher</a> <br />
<a asp-action="EditMark" asp-controller="Manager"> EditMark : teacher</a> <br />
<a asp-action="AddClass" asp-controller="Manager"> Add class : admin</a> <br />
<a asp-action="AddMark" asp-controller="Manager"> add mark : teacher</a> <br />
<a asp-action="DeleteMark" asp-controller="Manager"> delete mark : teacher</a> <br />
<a asp-action="Index" asp-controller="Information"> show classes ----> class detail : teacher</a> <br />
<a asp-action="MyMarks" asp-controller="Student">Show my marks : Student</a> <br />
<a asp-action="AddStudentToClass" asp-controller="Manager">Add student to class </a> <br />
